<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Chat:Websockets</title>

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <h1>
      Hola desde web sockets!
    </h1>

    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <form>
            <div class="form-group">
              <label for="name">Mi nombre</label>
              <input
                type="text"
                class="form-control"
                id="name"
                placeholder="Escribe tu nombre"
              />
            </div>
            <div class="form-group">
              <label for="name">Url img</label>
              <input
                type="text"
                class="form-control"
                id="url-img"
                placeholder="Tu imagen a subir"
              />
            </div>
            <div class="form-group">
              <label for="name">Fecha </label>
              <input
                type="date"
                class="form-control"
                id="fecha"
                placeholder="Fecha de captura"
              />
            </div>

            <button type="button" id="saludar" class="btn btn-primary">
              Submit
            </button>
          </form>
        </div>
        <div class="col-lg-12">
          <ul class="list-group"></ul>
        </div>
      </div>
    </div>

    <!--All scripts-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>

    <!-- Socket io client script-->
    <script src="/socket.io/socket.io.js"></script>
    <script>
      $(document).ready(function() {
        let socket = io();

        // crear el evento saludar
        $("#saludar").click(() => {
          let nombre = $("#name").val();
          let urlImg = $("#url-img").val();
          let fecha = $("#fecha").val();

          // creo mi objeto
          let data = {
            nombre: nombre,
            img: urlImg,
            fechaPosteada: fecha
          };

          socket.emit("channel:saludo", data);
        });

        socket.on("channel:saludo:res", data => {
          console.log(data);

          // buscar/llamar a list group
          let $listGroup = $(".list-group");

          // voy a crear un elemento clase> list-group-item
          let $listGroupItem = $("<li>");
          // la paso un clase
          $listGroupItem.addClass("list-group-item");

          // img
          let $img = $("<img>");
          $img.attr("src", data.img);

          // nombre del autor
          let $nombreAutor = $("<h6>");
          $nombreAutor.text(data.nombre);

          // fecha de captura
          let $fechaDeCaptura = $("<p>");
          $fechaDeCaptura.text(data.fechaPosteada);

          // le paso data como texto
          //$listGroupItem.text(data);
          $listGroupItem.append($img);
          $listGroupItem.append($nombreAutor);
          $listGroupItem.append($fechaDeCaptura);

          // append (paso como hijo) a list-grup-item para list-group
          $listGroup.append($listGroupItem);
        });
      });
    </script>
  </body>
</html>
